.home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [s] 20rem [banner-s] 1fr [banner-e] 10rem [e];
  grid-template-rows: [s banner-s] 20rem [banner-e product-s] 28rem [product-e e];

  &__image {
    grid-column: banner-s/banner-s;
  }

  &__products {
    grid-column: banner-s/banner-e;
    display: flex;
    justify-content: space-around;
  }
}
