.product {
  width: 20rem;
  height: 28rem;
  grid-column: banner-s/banner-e;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: aliceblue;
  padding: 2rem;

  &__info {
    height: 100%;

    &-shown {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      &-button {
        width: 3rem;
        font-size: 2.5rem;
      }

      & p {
        font-size: 2.4rem;
      }
    }

    &-hover {
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }
  }
}
